<!DOCTYPE html>
<html lang="es">
<head>
  <title>Gracias por votar!</title>
  <%- include('./partials/head'); %>
</head>
<body class="container bg-dark text-white">
<script>
  // Include messenger extension stuff.
  (function(d, s, id){
    var js, fjs = d.getElementsByTagName(s)[0];
    if (d.getElementById(id)) {return;}
    js = d.createElement(s); js.id = id;
    js.src = "//connect.facebook.net/en_US/messenger.Extensions.js";
    fjs.parentNode.insertBefore(js, fjs);
  }(document, 'script', 'Messenger'));
</script>

<main>
  <div class="text-center">
    <h1>Misión cumplida!</h1>
    <h2>Gracias, tu ayuda nos avanza un poco y cada avance es una ayuda.</h2>
    <div class="container">
      <div class="row">
        <div class="col">
          Publicación con valor social.
        </div>
        <div class="col-1">
          🌟
        </div>
      </div>
      <%voteTable.forEach((entry) => {%>
        <div class="row">
          <div class="col text-left">
            <p><%=entry.message%></p>
          </div>
          <div class="col-1">
            <p><%=entry.votesGiven%></p>
          </div>
        </div>
      <%}); %>
    </div>
  </div>
</main>

<script>
</script>

</body>
</html>