.aboutUs {
  background-color: white;
  width: 100%;
  height: 100%;
  color: black;
}
.firstDiv {
  display: inline-block;
  text-align: center;
  justify-content: center;
}
.seccionP {
  text-align: center;
  font-family: "Droid Sans";
  color: rgba(33, 33, 33, 1);
  font-size: 20pt;
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.hr {
  width: 90%;
  margin-left: 5%;
}
.img {
  width: 40vw;
  height: 400px;
  object-fit: cover;
}
.twoColumns {
  columns: 2;
  margin: 3%;
  margin-left: 5%;
  display: inline-flex;
  column-gap: 40px;
}
.mision {
  font-family: Oswald;
  font-size: 30pt;
  line-height: 1.23;
  font-weight: 300;
  color: rgba(31, 31, 31, 1);
  margin-top: 20px;
  text-transform: uppercase;
}
.seccionParrafo {
  text-align: justify;
  font-family: "Droid Sans";
  color: rgba(33, 33, 33, 1);
  font-size: 20pt;
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}
.seccionPFilosofia {
  text-align: left;
  font-family: "Droid Sans";
  color: rgba(33, 33, 33, 1);
  font-size: 25pt;
  line-height: 1.6;
  display: block;
  margin-right: 10%;
}
.serviciosP {
  text-align: left;
  font-family: "Droid Sans";
  color: rgba(33, 33, 33, 1);
  font-size: 35pt;
  line-height: 1.6;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5%;
  margin-inline-end: 0px;
}
.markdiv {
  background-size: cover;
  display: table;
  position: relative;
  table-layout: fixed;
  width: 100%;
  background-color: rgba(92, 120, 135, 1);
}
.markdivP {
  text-align: left;
  font-family: "Droid Sans";
  color: rgba(255, 255, 255, 1);
  font-size: 20pt;
  line-height: 1.6;
  margin-inline-start: 5%;
}
.second {
  display: inline-block;
  text-align: center;
  justify-content: center;
}
.seccionPThreeColumns {
  text-align: center;
  font-family: "Droid Sans";
  color: rgba(33, 33, 33, 1);
  font-size: 25pt;
  line-height: 1.4;
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 5%;
  margin-inline-end: 5%;
}
.threeColumns {
  columns: 3;
  margin: 3%;
  margin-left: 5%;
  display: inline-flex;
  column-gap: 40px;
}
.imgOn3 {
  width: 25vw;
  height: 55vh;
  object-fit: cover;
}
@media (max-width: 768px) {
  .twoColumns {
    columns: 1;
    display: inline-block;
  }
  .threeColumns {
    columns: 1;
    display: inline-block;
  }
  .img {
    width: 90vw;
  }
  .imgOn3 {
    width: 90vw;
    height: 55vh;
    object-fit: cover;
  }
}
