.count {
  display: inline-flex;
  align-items: center;
}
.count > button {
  margin: 5px;
}
.hashtags {
  display: flex;
  align-items: center;
}
.datePicker {
  display: inline-flex;
  align-items: center;
}
.datePicker > h3 {
  margin-right: 5px;
}
.addChallenge {
  border: 1px white solid;
  border-radius: 2px;
}
